.panel {
	text-align: center;
}

h1	{
	text-align: center;
}

@font-face {
    font-family: "dragon";
    src : url("../polices/dragonslapper.ttf");
}

body {
	margin:0;
	padding:0;
	background: url("../img/accueilBackground.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	background-size: cover;
}
.row {
    background: white;
}

.contain-to-grid {
	margin-bottom: 2%;
}


.panel, h1, h2, input, .button{
    font-family: "dragon";
}

.button {
    font-size: 100%
}

option,label {
	font-family: "dragon";
    color: #cbcbcb;
}

select,select:hover {
    background-color: #3a3434;
}

canvas
{
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

table 
{
    width: 100%;
}